## Imports

In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
%run 00_Workflow_Functions.ipynb import na_only, api_call, data_wrangling

### Lifehacks Import

In [22]:
subs = pd.read_csv('../datasets/submissions_data.csv')
subs.shape

(2178, 10)

In [24]:
subs.head(5)

,author,author_fullname,created_utc,selftext,title,subreddit,is_video,num_comments,score,upvote_ratio
0,Cutesifer_101,t2_7zsy6pvt,1651176966,The damage wasn’t that bad other than the fact...,I spilled monster energy,lifehacks,False,0,1,1.0
1,Subtotalpoet,t2_dcvoz53,1651176676,NaN,"Wife forgot ur favorite ice cream? Improvise, ...",lifehacks,False,0,1,1.0
2,amintowords,t2_racie,1651175651,Set an alarm for an hour after you're meant to...,How to remember to take tablets on time,lifehacks,False,0,1,1.0
3,rokokslot87,t2_kv1oregh,1651174857,NaN,SLOT ONLINE MENANG BESAR | SLOT DEPOSIT PULSA,lifehacks,False,0,1,1.0
4,Distinct_Expert_7648,t2_mczxpj82,1651174438,[removed],Infertility Clinic in Pune,lifehacks,False,0,1,1.0

In [25]:
subs.tail(5)

,author,author_fullname,created_utc,selftext,title,subreddit,is_video,num_comments,score,upvote_ratio
2173,Bloodstone2012,t2_jt1jo,1650646779,NaN,LPT: it is healthier to skip a meal and just d...,LifeProTips,False,1,1,1.0
2174,cross_peach,t2_30cjlc75,1650646116,NaN,LPT: You can access several online courses and...,LifeProTips,False,1,1,1.0
2175,jmincorporated,t2_16tlrj,1650645631,NaN,LPT - when you receive a medical bill always c...,LifeProTips,False,1,1,1.0
2176,the_women_era,t2_m8qtr3lc,1650645336,[removed],People Will Always Judge Your Actions. No Matt...,LifeProTips,False,1,1,1.0
2177,patchaclus,t2_9411lb63,1650645171,NaN,LPT: you can set rules on your email to redire...,LifeProTips,False,1,1,1.0

In [27]:
subs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2178 entries, 0 to 2177
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   author           2178 non-null   object
 1   author_fullname  2178 non-null   object
 2   created_utc      2178 non-null   int64
 3   selftext         1298 non-null   object
 4   title            2178 non-null   object
 5   subreddit        2178 non-null   object
 6   is_video         2178 non-null   bool
 7   num_comments     2178 non-null   int64
 8   score            2178 non-null   int64
 9   upvote_ratio     2178 non-null   float64
dtypes: bool(1), float64(1), int64(3), object(5)
memory usage: 155.4+ KB

In [28]:
na_only(lh_subs)

0

Note that we captures posts that have no text in the submission body. This likely indicates a post that sometime of multimedia as the focus, which are posts we are not interested in. Therefore, we will drop all of these rows.

In [12]:
lh_subs = lh_subs.dropna()
lh_subs.shape

(448, 10)

### LifeProTips Import

In [14]:
lpt_subs = pd.read_csv('../datasets/lifeprotips_submission.csv')
lpt_subs.shape

(1083, 10)

In [15]:
lpt_subs.head(5)

,author,author_fullname,created_utc,selftext,title,subreddit,is_video,num_comments,score,upvote_ratio
0,Fair-Pattern-1745,t2_mhzb1dp4,1651178681,[removed],i removed clothes,LifeProTips,False,1,1,1.0
1,BigOlBlimp,t2_53c1t8bg,1651178589,Lots of people think blower hand dryers aren't...,LPT: Air hand dryers will dry your hands quick...,LifeProTips,False,1,1,1.0
2,JonusTJonnerson,t2_2qhrakuw,1651178192,NaN,LPT Tell your jokes at work with a straight (a...,LifeProTips,False,1,1,1.0
3,JonusTJonnerson,t2_2qhrakuw,1651178134,[removed],Tell your jokes at work with a straight (and s...,LifeProTips,False,1,1,1.0
4,DeadYen,t2_i9zvb60,1651176747,When you need to spell out an address or locat...,"LPT: Learn the Phonetic Alphabet, it’s very us...",LifeProTips,False,1,1,1.0

In [16]:
lpt_subs.tail(5)

,author,author_fullname,created_utc,selftext,title,subreddit,is_video,num_comments,score,upvote_ratio
1078,cross_peach,t2_30cjlc75,1650646116,NaN,LPT: You can access several online courses and...,LifeProTips,False,1,1,1.0
1079,jmincorporated,t2_16tlrj,1650645631,NaN,LPT - when you receive a medical bill always c...,LifeProTips,False,1,1,1.0
1080,the_women_era,t2_m8qtr3lc,1650645336,[removed],People Will Always Judge Your Actions. No Matt...,LifeProTips,False,1,1,1.0
1081,patchaclus,t2_9411lb63,1650645171,NaN,LPT: you can set rules on your email to redire...,LifeProTips,False,1,1,1.0
1082,LooneyKuhn2,t2_17di6mlt,1650644757,NaN,LPT: There are a lot of positions in hospitals...,LifeProTips,False,1,1,1.0

In [17]:
lpt_subs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1083 entries, 0 to 1082
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   author           1083 non-null   object
 1   author_fullname  1083 non-null   object
 2   created_utc      1083 non-null   int64
 3   selftext         836 non-null    object
 4   title            1083 non-null   object
 5   subreddit        1083 non-null   object
 6   is_video         1083 non-null   bool
 7   num_comments     1083 non-null   int64
 8   score            1083 non-null   int64
 9   upvote_ratio     1083 non-null   float64
dtypes: bool(1), float64(1), int64(3), object(5)
memory usage: 77.3+ KB

In [18]:
na_only(lpt_subs)

selftext    247
dtype: int64

Just like `r/lifehacks`, we will drop all of the rows with no self-text.

In [19]:
lpt_subs = lpt_subs.dropna()
lpt_subs.shape

(836, 10)

### Train and Test Splits

In [ ]:
# we are only interested in the self-text
X = lh_subs[['selftext']]
y = lh_subs['']